#main {
    background-color: #0b0c10;
    font-family: "Nunito", sans-serif; 
 }
 
 .content {
     margin-bottom: 35px;
 }
 
 #mainNavbar .navbar-brand {
     color: #66FCF1;
     font-size: 1.5rem;
     font-weight: 100;
 }
 
 #mainNavbar {
     font-size: 1.5rem;
     font-weight: 100; 
 }
 
 #mainNavbar .nav-link {
     color: #C5C6C7;
 }
 
 
 #mainNavbar .nav-link:hover {
     color: #66FCF1;
 }
 
 .navbar.scrolled {
     background: #1F2833;
     transition: background 500ms;
 }
 
 .dropdown-menu {
     background: rgba(31, 40, 51, 0.5);
     border: none;
 }
 
 .dropdown-item {
     color: #C5C6C7;
 }
 
 .dropdown-item:hover {
     background-color: #45A29E;
   }
 
 h1 {
     font-weight: 100;
     font-size: 4rem;
     color: #45A29E; 
 }
 
 h2 {
     font-weight: 100;
     font-size: 3rem;
     color: #45A29E;
 }
 
 #image {
     display: block;
 }
 
 #img-caption {
     font-weight: 100;
     font-size: 0.7rem;
     color: #C5C6C7;
     display: none;
 }
 
 p{
     font-weight: 100;
     font-size: 1rem;
     color: #C5C6C7;
 }
 
 footer {
     display: flex;
     justify-content: center;
     flex-grow: 1;
     background-color: #1F2833;
 }
 
 .footerText {
     font-weight: 100;
     font-size: 1.125rem;
 }
 
 #tribute-link, .infoLink {
     color: #45A29E;
 }
 
 #tribute-link:hover, .infoLink:hover {
     color: #66FCF1;
 }

 @media (max-width: 1200px) {
    .heading1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .heading2 {
        font-size: 2em;
    }
    .bandInfo p {
        font-size: 0.825rem;
    }   
 }
